@yellow:#fffa19;
@rojo:#f71212;
@verde:#45cf1a;

.margenes(@top,@bottom) {
 margin-top: @top;
 margin-bottom: @bottom;   
}
.espacios(@top,@right,@left) {
    padding-top: @top;
    padding-right: @right;   
    padding-left: @left;
   }

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
    
}
footer {
    .espacios(10px, 20px, 10px);
    background-color: @yellow;
    .margenes(10px, 0px);
}
.card-hotel {
    background-color: @verde;
    flex: 1 200px;
    .margenes(10px, 0px);
}
.btn-reserva{
    width: 100%; 
    border-radius: 0px;
}
.footer-address-icon {
    .espacios(0px, 10px, 0px);
}
.tab-content {
    .espacios(10px, 0px, 0px);
}
.card-footer {
    background-color: @rojo;
}