$yellow:#fffa19; 
$celeste:#93cfda;
$verde:rgb(212, 237, 218);

@mixin margenes($top,$bottom) {
 margin-top: $top;
 margin-bottom: $bottom;   
}
@mixin relleno($top,$right,$left) {
    padding-top: $top;
    padding-right: $right;   
    padding-left: $left;
   }

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
    
}
footer {
    padding: (10px, 10px, 10px);
    background-color: $yellow;
    @include margenes(10px, 0px);
}
.card-hotel {
    background-color: $verde;
    flex: 1 200px;
    @include margenes(10px, 0px);
}
.btn-reserva{
    width: 100%; 
    border-radius: 0px;
}
.footer-address-icon {
    @include relleno(0px, 10px, 0px);
}
.tab-content {
    @include relleno(10px, 0px, 0px);
}
.card-footer {
    background-color: $celeste;
}